body{
  background-image: url("../images/lunch_background.jpg");
  background-attachment: fixed;
  background-position: center;
  overflow:hidden;
}

.container{
  padding: 10%;
  margin: 0 auto;
  text-align: center;
}
#lunch-menu{
    width: 50%;
}

.mainText{
  text-decoration:   white;
  padding-bottom: 10%;
  font-size: 28px;
  color: #616060;
}
/*.form-group .message{
  margin-top: 50px;
  text-align: center;
  font-size": 50px;
  border-style: solid;
  color: red;
}*/
.checkBtn{
  background-color: #fed602;
  padding: 15px;
  margin-top: 75px;
}
